{erl_opts, [debug_info]}.
{deps, [
    {snatch, {git, "https://github.com/xmppjingle/snatch.git", {branch, "master"}}},
    {amqp_client, {git, "https://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.6.2"}}},
    {jsone, {git, "https://github.com/sile/jsone.git", {branch, "master"}}},
    {chatterbox, {git, "https://github.com/joedevivo/chatterbox.git", {branch, "master"}}}
]}.
{escript_incl_apps, [snatch, amqp_client, fast_xml]}.
{escript_main_app, snatch_echo}.
{escript_name, snatch_echo}.
